.doctorImformation {
    width: 100%;
    height: 316px;
    background-color: #56CCF2;
    display: flex;
    justify-content: space-around;
}

.PhotoDoctorImformation{
    display: flex;
}

.PhotoDoctorImformation img {
    Width: 170px;
    Height: 170px;
    border-radius: 50%;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}
.money_consultation{
    display: flex;
}
.valuta {
    width: 13px;
    height: 13px;
    justify-content: center;
    align-items: center;
}
.canteiner-consultation{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}