.doctorImformation {
    width: 100%;
    height: 316px;
    background-color: #56CCF2
}

.PhotoDoctorImformation {
    Width: 170px;
    Height: 170px;
    border-radius: 50%;
    background-color: aliceblue;
}